<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net471" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net471" />
  <package id="Caliburn.Micro.Start" version="3.2.0" targetFramework="net471" />
  <package id="GI.Screenshot" version="1.1.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net471" />
  <package id="NHotkey" version="2.1.0" targetFramework="net471" />
  <package id="NHotkey.Wpf" version="2.1.0" targetFramework="net471" />
</packages>